@model ReservationClientConfirmationEmailViewModel

<h4>
    Hello, client"
</h4>
<div>
    <p>You have reserved <b>@Model.Passengers.Count()</b> tickets for the following flight:</p>
    <p>Origin: @Model.Flight.Origin</p>
    <p>Destination: @Model.Flight.Destination</p>
    <p>Take off time: @Model.Flight.TakeOffTime.ToString(LongDateFormat)</p>
    <p>Duration: @Model.Flight.Duration</p>
    <p>Plane number: @Model.Flight.PlaneNumber</p>
</div>   
<h5>Passengers</h5>
<table class="table table-striped">
    <thead>
        <tr class="row">
            <th class="col-md-2">Full name</th>
            <th class="col-md-2">Email</th>
            <th class="col-md-2">Phone number</th>
            <th class="col-md-2">Personal number</th>
            <th class="col-md-2">Nationality</th>
            <th class="col-md-2">Ticket type</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var passenger in Model.Passengers)
        {
            <tr class="row">
                <td class="col-md-2">@passenger.FullName</td>
                <td class="col-md-2">@passenger.Email</td>
                <td class="col-md-2">@passenger.PhoneNumber</td>
                <td class="col-md-2">@passenger.PersonalNumber</td>
                <td class="col-md-2">@passenger.Nationality</td>
                <td class="col-md-2">@passenger.TicketType</td>
            </tr>
        }
    </tbody>
</table>