@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "All employees";
    int index = 1;
}

<div>
    @if (!Model.Any())
    {
        <hr class="bg-info cm-hr" />
        <div class="text-secondary font-size-30 text-center mt-4">There are no employees!</div>
        <hr class="bg-info cm-hr" />
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th class="col-md-1">&#8470;</th>
                    <th class="col-md-2">Username</th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-2">Surname</th>
                    <th class="col-md-2">PersonalNumber</th>
                    <th class="col-md-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr class="row">
                        <td class="col-md-1">@(index++)</td>
                        <td class="col-md-2">
                            <a class="text-dark"
                               asp-area="@AdministrationArea"
                               asp-controller="Employee"
                               asp-action="Details"
                               asp-route-id="@employee.Id">
                                @employee.Username
                            </a>
                        </td>
                        <td class="col-md-2">@employee.Name</td>
                        <td class="col-md-2">@employee.Surname</td>
                        <td class="col-md-2">@employee.PersonalNumber</td>
                        <td class="col-md-3">
                            <a class="btn btn-outline-primary mx-3"
                               asp-area="@AdministrationArea"
                               asp-controller="Employee"
                               asp-action="Edit"
                               asp-route-id="@employee.Id">
                                Edit
                            </a>
                            <a class="btn btn-outline-danger"
                               asp-area="@AdministrationArea"
                               asp-controller="Employee"
                               asp-action="Delete"
                               asp-route-id="@employee.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
